<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Folder</title>
  <link href="/styles.css" rel="stylesheet" />
</head>
<body class="bg-[#020202] text-neutral-200 h-screen overflow-hidden">
  <%- include('navbar/navbar') %>
  <!-- Restfläche exakt gleiche BG wie Navbar -->
  <main class="w-full h-[calc(100vh-56px)] bg-[#020202]"></main>
</body>
</html>


